{
	"useTabs": false,
	"singleQuote": true,
	"trailingComma": "all",
	"printWidth": 120,
	"semi": false,
	"tabWidth": 4,
	"plugins": ["prettier-plugin-svelte", "@trivago/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"],
	"overrides": [
		{
			"files": "*.svelte",
			"options": {
				"parser": "svelte"
			}
		}
	]
}
